<!DOCTYPE html>
<html lang="pt-br">
<script type="text/javascript" src="../../script/index.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<header><%- include('../partials/header'); %></header>
<head>
    <%- include('../partials/head'); %>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        header, footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        .jumbotron {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #tabela-dinamica {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        #tabela-dinamica th, #tabela-dinamica td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        #tabela-dinamica th {
            background-color: #333;
            color: #fff;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 5px;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body class="container">
    
<main>
    
    <div class="jumbotron">
        <h1 style="text-align: center;">Todas as Contas</h1>
        <label for="operacao">Filtro de operação:</label>
        <select id="operacao" onchange="selecionarOperacao()">
            <option value=""></option>
            <option value="nenhuma">Nenhuma</option>
            <option value="groupByTipoConta">Group By Tipo Conta</option>
            <option value="joinLeft">JOIN LEFT</option>
            <option value="joinRight">JOIN RIGHT</option>
            <option value="rollup">ROLLUP</option>
            <option value="funcoesAgregacao">SUM(), COUNT(), MIN() e MAX()</option>
        </select>
        <table id="tabela-dinamica">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CPF</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <% mascots.forEach((mascot) => { %>
                    <tr>
                        <td><%= mascot.name %></td>
                        <td><%= mascot.cpf %></td>
                        <td><%= mascot.tipeAccount %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <button onclick="openModal()">Criar Novo Registro</button>
    </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script>

    function selecionarOperacao() {
        
        var operacarSelecionada = document.getElementById("operacao").value
        switch (operacarSelecionada){

            case "groupByTipoConta":
                groupByTipoConta( "groupByTipoConta" )
                break;
            case "joinLeft":
                joinLeft( "joinLeft" )
                break;
            case "joinRight":
                joinRight( "joinRight" )
                break;
            case "rollup":
                rollup( "rollup" )
                break;
            case "funcoesAgregacao":
                funcoesAgregacao( "funcoesAgregacao" )
                break;
            case "nenhuma":
                all( "nenhuma" )
                break;

        }
    }

    function groupByTipoConta( op ){
        selecionaOpcao( op )
    }

    function joinLeft( op ){
        selecionaOpcao( op )
    }

    function joinRight(op){
        selecionaOpcao( op )
    }

    function rollup(op){
        selecionaOpcao( op )
    }

    function funcoesAgregacao(op){
        selecionaOpcao( op )
    }

    function all( op ) {
        selecionaOpcao( op )
    }

    selecionarOperacao();
</script>
</body>
</html>
