<!DOCTYPE html>
<html lang="pt-br">
<script type="text/javascript" src="../../script/index.js" ></script>
<header><%- include('../partials/header'); %></header>
<head>
    <%- include('../partials/head'); %>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        header, footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        .jumbotron {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #tabela-dinamica {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        #tabela-dinamica th, #tabela-dinamica td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        #tabela-dinamica th {
            background-color: #333;
            color: #fff;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 5px;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h1 style="text-align: center;">Empresas</h1>
        <table id="tabela-dinamica">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CNPJ</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% mascots.forEach((mascot) => { %>
                    <tr>
                        <td><%= mascot.name %></td>
                        <td><%= mascot.cnpj %></td>
                        <td style="text-align: left;">
                            <button onclick="editRecord('<%= mascot.id %>')">Editar</button>
                            <button onclick="deleteRecord('<%= mascot.id %>')">Excluir</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <button onclick="openModal()">Criar Novo Registro</button>
    </div>
</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
